body{
  margin:0;
  padding:0;
}
/* styles.scss */

// Custom styles for the navigation bar
.container-fluid{
  padding: 0px 0;
  

}
.navbar{
  padding:3px 15px;
 
}
.navbar-brand {
  img {
    max-height: 40px; // Adjust this as needed
  }
}

.nav-item {
  margin-right: 15px;
}
.nav-link{
  color:#fff;
  font-weight: bolder;
}


// Custom styles for the dropdown menu
.dropdown-menu {
  background-color: #000; // Background color for the dropdown menu
  border: none;

  .dropdown-item {
    color: #fff;
    &:hover {
      background-color: #333; // Background color on hover
    }
  }
}
#toggleBtn{
  background-color:#000;
  border: none;
}
#toggleBtn span{
  color: #fff;
}
.search-div{
  width: 50%;
  position: relative;
}

#searchButton{
  position: absolute;
  right:0%;

}
#search::placeholder {
   text-indent: 50px;
}
#imdPro{
  width: 60px;
  height:50px
}

#all span{
  color: #000;
}
#all{
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  
}
.form-control{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.grid-item {
  
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
 
}

img {
  max-width: 100%;
  height: 150px;
  border-radius: 5px;
}

#loadMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#loadMoreBtn:hover {
  background-color: #0056b3;
}

#productResults p{
  margin: 5px 0;
}

#productResults h1 {
  margin-top: 0;
}

#productResults p:first-child {
  font-weight: bold;
}
main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}
